<div class="search-container">
  <input
    class="search"
    type="search"
    [(ngModel)]="username"
    placeholder="GitHub username"
    (keyup.enter)="fetchRepositories()"
  />
  <button [disabled]="!username" (click)="fetchRepositories()">Search</button>
</div>

<div *ngIf="userNotFoundError === true; else userExists">
  User does not exists!
</div>

<ng-template #userExists
  ><app-repo-grid [rowData]="rowData"></app-repo-grid>
  <app-d3-bar-chart [repositories]="rowData"></app-d3-bar-chart
></ng-template>
